@model Be.SessionTarjeta
@{
    ViewData["Title"] = "AutentificacionPin";
    Layout = "~/Views/Shared/_MasterAtm.cshtml";
}

<div class="text-center">
    <h1 class="display-4">ATM - Cajero Atomático</h1>


</div>


<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="alert alert-primary col-sm-6 col-12 text-center" style="font-size: 17px;">
            Ingrese el PIN correspondiente a su tarjeta.
        </div>
        <div class="col-sm-3"></div>
    </div>

    <form asp-action="AutentificacionPin" method="post" id="form">
        <div class="row">
            <div class="col-sm-4"></div>


            <div class="col-12 col-sm-4">

                <input type="password" asp-for="Pin" readonly value="" class=" form-control teclado_text" maxlength="19" />

            </div>
            <div class="col-sm-4"></div>

        </div>
        <div class="row">
            <div class="col-sm-4"></div>


            <div class="col-12 col-sm-4">

                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="col-sm-4"></div>

        </div>

        <div class="row">


            <div class="col-sm-4"></div>
            <div class="col-12 col-sm-4">
                <table class="table_teclado">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td colspan="2">0</td>
                        <td>Back</td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-4"></div>

        </div>


        <div class="row" style="margin-top:20px">
            <div class="col-sm-4"></div>


            <div class="col-6 col-sm-2">
                <button type="button" class="btn btn-primary" style="width:100%" onclick="Aceptar()">
                    Aceptar
                </button>

            </div>
            <div class="col-6 col-sm-2">
                <button type="button" class="btn  btn-info" style="width:100%" onclick="Limpiar()">
                    Limpiar
                </button>

            </div>
            <div class="col-sm-4"></div>

        </div>


        <div class="row" style="margin-top:20px">
            <div class="col-12 col-sm-5"></div>


            <div class="col-6 col-sm-2">
                <button type="button" class="btn btn-dark" style="width:100%" onclick="window.location.href='/Home/Salir'">
                    Salir
                </button>

            </div>
            <div class="col-sm-5"></div>

        </div>

        <input asp-for="Nro" type="hidden" />
    </form>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        $(function () {


            $('.table_teclado tr td').click(function () {
                $('#Pin').removeClass("valid");
                var number = $(this).text();

                if (number == 'Back') { // si es back de borrar
 
                    $('#Pin').val($('#Pin').val().substr(0, $('#Pin').val().length - 1)).focus();
                }
                else {// si apreto un numero y no el back

                    if ($('#Pin').val().length == 4) { return; } // q corte si esta completo               
                    $('#Pin').val($('#Pin').val() + number).focus();
                    
                }

            });

        });

        function Limpiar() {
            $('#Pin').val("");
        }


        function Aceptar() {
            $('#Pin').removeClass("valid");
            var Pin = $('#Pin').val().replace(/-/g, '');
            if (Pin.length < 4) {
                $('#Pin').addClass("valid");
                return;
            }
            $('#Pin').val(Pin);
            document.getElementById("form").submit();
        }
    </script>


</div>